body {
  overflow: hidden;
  background-image: url('../images/woodblurred.jpg');
  background-size: 100% auto;
  font-family: 'Open Sans', sans-serif;
}

.centered {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.title {
  font-weight: bold;
  font-size: 2.0em;
}

.subtitle {
  font-weight: bold;
  font-size: 1.5em;
}

.thumbnail {
  width: 300px;
}

@-moz-keyframes slideIn {
    0% {
      top: -2000px;
      display: block;
    }
    100% {
      top:100px;
      display: block;
    }
}
@-webkit-keyframes slideIn {
    0% {
      top: -2000px;
      display: block;
    }
    100% {
      top:100px;
      display: block;
    }
}
@keyframes slideIn {
    0% {
      top: -2000px;
      display: block;
    }
    100% {
      top:100px;
      display: block;
    }
}

@-moz-keyframes slideOut {
  0%{
    top:100px;
  }
  90% {
    opacity: 100%;
  }
  100%{
    top:25000px;
    opacity: 0%;
  }
}

@-webkit-keyframes slideOut {
  0%{
    top:100px;
  }
  90% {
    opacity: 100%;
  }
  100%{
    top:2000px;
    opacity: 0%;
  }
}

keyframes slideOut {
  0%{
    top:100px;
  }
  90% {
    opacity: 100%;
  }
  100%{
    top:2500px;
    opacity: 0%;
  }
}

.bordered {
  border: 1px solid black;
}

.slidein {
    position: absolute;
    -moz-animation-name: slideIn;
    -moz-animation-timing-function: ease-out;
    -moz-animation-duration: .1s;
    -moz-animation-fill-mode: forwards;

    -webkit-animation-name: slideIn;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: .1s;
    -webkit-animation-fill-mode: forwards;

    animation-name: slideIn;
    animation-timing-function: ease-out;
    animation-duration: .1s;
    animation-fill-mode: forwards;

    display: block;
}

.slidein-delayed {
    position: absolute;
    -moz-animation-name: slideIn;
    -moz-animation-timing-function: ease-out;
    -moz-animation-duration: .1s;
    -moz-animation-fill-mode: forwards;

    -webkit-animation-name: slideIn;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: .1s;
    -webkit-animation-fill-mode: forwards;

    animation-name: slideIn;
    animation-timing-function: ease-out;
    animation-duration: .1s;
    animation-fill-mode: forwards;

}

.slideout {
    position: absolute;
    -moz-animation-name: slideOut;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: .5s;
    -moz-animation-fill-mode: forwards;

    -webkit-animation-name: slideOut;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: .5s;
    -webkit-animation-fill-mode: forwards;

    animation-name: slideOut;
    animation-timing-function: ease-in;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

.slide {
  width: 98%;
  height: 700px;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  background-color: rgba(0, 0, 0, .5);
  padding-top: 1vh;
  padding-bottom: 5vh;
  -webkit-box-shadow: rgba(0, 0, 0, 0.817647) 0px 1px 6px 0px;
  -webkit-font-smoothing: antialiased;
}

.slide-arrow {
  transition: color 0.2s ease;
}

h1 {
  font-size: 6vw;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.slide-arrow:hover {
  color: lightblue;
  cursor: pointer;
}

.slide-arrow-up {
  position: absolute;
  top: 5px;
  right: 5px;
}

.slide-arrow-down {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.navbar {
  position: fixed;
  top: 0px;
  left: 10%;
}

.nav-list li {
  color: rgb(233, 233, 233);
  transition: color .35s ease;
  display: inline-block;
  font-weight: bold;
  text-align: left;
  width: 100px;
}

.nav-link {
  cursor: pointer;
}

.nav-link:hover {
  color: white;
  text-decoration: none;
}

.nav {
  display: inline-block;
}

.service-list {
  list-style-type: none;
  margin: 0 auto;
  text-align: left;
}

.service-list > li > i.fa {
  margin-right: 10px;
}

.start-hidden {
  display: none;
}

.designed-by {
  font-size: 10px;
  position: fixed;
  bottom: 0px;
}

a:link {
  text-decoration: none;
  color: black;
}

A:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}
